@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient{
  background:  -webkit-linear-gradient(#114e0b,#66a756);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer base {}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

